section(ng-init="sort=['subject',false]")
  article
    h1(translate='marks')
  .container
    no-data(ng-if='!!!data.length')
    article(ng-if='!!data.length')
      table.data_grid
        tr
          td.title
            input(placeholder="{{ 'subject' | translate }}",
									ng-model='query.subject')
            sort(by='subject')
          td.little
            icn(n='line-chart')
          td.data_part
            ul#legenda(ng-init='showType = [1,1,1,1]')
              li(ng-repeat='a in range(4) track by $index',
								 ng-click='showType[$index] = !showType[$index]',
								 ng-class='{disabled: !showType[$index]}')
                div
                span(translate='mark-type-{{$index}}')
        tr(ng-repeat='subject in data\
        | orderBy	: sort[0] : sort[1]\
        | filter		:	query')
          td.title
            b(ng-bind='subject.name')
          td.little
            span.average(ng-bind='subject.marks | average')
          td.data_part
            .mark(ng-repeat='mark in subject.marks | orderBy: mark.date:false',
									class='type{{ mark.type }}',
									ng-if='showType[mark.type]')
              .date(ng-bind="mark.date | date:'d-MM'")
              span(ng-bind='mark.mark | readableMark')
              .comment(ng-if="mark.text != ''", ng-bind='mark.text')
