.panel(data-title="{{ 'new' | translate }}", ng-init='$n.people = 10')
  .fifty
    .in_group(label="{{ 'date' | translate }}")
      input(type='date',
            ng-model='$n.date',
            ng-value='today')

    .in_group(label="{{ 'spaces' | translate }}")
      input(type='number',
            ng-model='$n.people')
  .fifty
    .in_group(label="{{ 'time' | translate }}")
      br
      input(type='number',
            ng-model='$n.time[0]',
            min='0',
            max='24',
            style='width:70px')
      | :
      input(type='number',
            ng-model='$n.time[1]',
            min='0',
            max='55',
            step='5',
            style='width:70px')

    .in_group(label="{{ 'teacher' | translate }}")
      br
      select(ng-model='$n.teacher')
        option(ng-repeat='teacher in data.teachers',
               ng-value='teacher.id',
               ng-bind='teacher.name')
  .panel-footer
    .btn.close(translate='save', ng-click='add()')
