.panel(data-title="{{ 'edit' | translate }}")
  .fifty
    .in_group(label="{{ 'date' | translate }}")
      input(type='date',
            ng-model='$e.date',
            format-date='')
    
    .in_group(label="{{ 'spaces' | translate }}")
      input(type='number',
            ng-model='$e.people',
            ng-value='$e.people')
  .fifty
    .in_group(label="{{ 'time' | translate }}")
      br
      input(type='number',
            ng-model='$e.time[0]',
            ng-value='$e.time[0]',
            min='0',
            max='24',
            style='width:70px')
      |  :
      input(type='number',
            ng-model='$e.time[1]',
            ng-value='$e.time[1]',
            min='0',
            max='55',
            step='5',
            style='width:70px')

    .in_group(label="{{ 'teacher' | translate }}")
      br
      select(ng-model='$e.teacher')
        option(ng-repeat='teacher in data.teachers',
               ng-value='teacher.id',
               ng-selected='$e.teacher_id == teacher.id',
               ng-bind='teacher.name')
  .panel-footer
    .btn.close(translate='save', ng-click='edit()')
