.panel(data-title="{{'edit' | translate}}")
  .fifty
    .fifty
      .in_group(label="{{ 'mark' | translate}}")
        select(name='vote_n',
               ng-model='$e.vote',
               ng-options='n for n in marks')
        select(name='vote_s',
               ng-options='symbol.value as symbol.text for symbol in symbols',
               ng-model='$e.symbol')
    .fifty
      .in_group(label="{{ 'type' | translate}}")
        select(name='vote_type', ng-model='$e.type')
          option(ng-repeat='a in range(4) track by $index',
                 value='{{ $index }}',
                 ng-selected="$e.type == '-'",
                 translate='mark-type-{{ $index }}')
    .clear
    .in_group(label="{{ 'date' | translate}}")
      input(type='date', ng-model='$e.date', format-date)
  .fifty
    .in_group(label="{{ 'description' | translate}}")
      textarea(draggable='false',
               rows='4',
               ng-model='$e.text',
               ng-init='$e.description = $e.text')
  .clear
  .panel-footer
    .btn.close(ng-click='edit()',
               translate='save')

    .btn.red(ng-click='showPanel("remove")',
             translate='remove')

  .discard-btn(ng-click='closePanel()')
